@import './variable.scss';

@mixin respond-to($media){
    @if $media == mobile {
        @media only screen and (max-width: $tabletSize) {@content;}
    }

    @else if $media == tablet {
        @media only screen and (min-width: $tabletSize) and (max-width: $pcSize) {@content;}
    }

    @else if $media == pc {
        @media only screen and (min-width: $pcSize) {@content;}
    }
}

.works h1 {
    @include respond-to(mobile) {
        font-size: 16px;
    }

    @include respond-to(tablet) {
        font-size: 24px;
    }

    @include respond-to(pc) {
        font-size: 32px;
    }

}